.user-card{
    background-color: #36343472;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2%;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 200px;
}